<h1>Add a new movie</h1>

<%= simple_form_for @movie do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.input :rating %>
  <%= f.input :poster_url %>
  <%= f.submit "Add movie", class: "btn btn-dark" %>
<% end %>
